<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Search</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      background-image: url('https://images.unsplash.com/photo-1512070800540-0d4192faa057?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your background image URL */
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.7); /* Adjust the opacity as needed */
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     
    }

    h1 {
      color: #333;
      margin-bottom: 20px;
    }

    .search-form {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input[type="text"] {
      padding: 12px;
      width: 300px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-right: 10px;
      font-size: 16px;
    }

    button {
      padding: 12px 20px;
      border-radius: 5px;
      border: none;
      background-color: #ff6b6b;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 16px;
    }

    button:hover {
      background-color: #e74c3c;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Movie Search</h1>
    <form class="search-form" action="/search" method="GET">
      <input type="text" id="movieInput" name="Name" placeholder="Enter a movie">
      <button type="submit">Search</button>
    </form>
  </div>
</body>
</html>
